<IfModule mod_rewrite.c>
	RewriteEngine On
	
	# replace /jobssite/ by your sub directory
	RewriteBase /jobssite/
	
	RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	# replace /jobssite/ by your sub directory
	RewriteRule . /jobssite/index.php [QSA,L]
</IfModule>

# BAN USER BY IP
<Limit GET POST>
 order allow,deny
 allow from all
 deny from 123.63.30.165
</Limit>
